<div class="container">
  <app-header
    [isModalOpen]="isModalOpen"
    (openModalEvent)="handleOpenModal($event)"
  ></app-header>
  <app-hero></app-hero>
  <app-shared-accessibility></app-shared-accessibility>
  <app-menu-categories
    (categoryClick)="handleCategorySelected($event)"
  ></app-menu-categories>
  <app-menu-sub-categories
    [products]="filteredProducts"
    [isModalOpen]="isModalOpen"
    (openModalEvent)="handleOpenModal($event)"
    (openConfirmModalEvent)="handleOpenConfirmModal($event)"
    (cardClick)="handleProductSelected($event)"
    (removeClick)="handleProductToRemove($event)"
  ></app-menu-sub-categories>
</div>

<app-product-modal
  *ngIf="isModalOpen"
  (close)="handleCloseModal()"
  (productAdded)="handleProductAdded($event)"
  (productUpdated)="handleProductUpdated($event)"
  [product]="product"
></app-product-modal>

<app-confirm-modal
  *ngIf="isConfirmModalOpen"
  (close)="handleCloseConfirmModal()"
  (productRemoved)="handleProductRemoved($event)"
  [product]="product"
></app-confirm-modal>
